* {
    border: border-box;
    margin: 0;
    padding: 0;
}

h2 {
    display: flex;
    justify-content: start;
    padding: 0.5em;
    color: #c3d6c8
}

p{
 color:#D8DBE2
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #373F51;
    margin: 0;
    padding: 0;
  }
  header {
    background: ##373F51;
    color: #D8DBE2;
    text-align: center;
    padding: 1em 0;
  }
header p {
    font-size:small
}

nav {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: #1B1B1E;
    text-decoration-color: #D8DBE2;
    margin-bottom: 0.4em
  }
  nav a {
    color: #D8DBE2;
    text-decoration: none;
    text-align: center;
    padding: 1em 0;
  }
  nav a:hover {
    background:#333 ;
  }


  footer {
    text-align:center;
    padding: 0.5em;
    background: #333;
    color: white;
    font-size:x-small;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  #photo1 {
    width:50vw;
    height:20vh;
  }
#photo2 {
    width:50vw;
    height:20vh;
}

  #photo3 {
    width:50vw;
    height:20vh;

  }

  @media only screen and (min-width: 780px) {
    #photo {
      width: 50%;
    }

    footer {
        text-align:center;
        padding: 0.5em;
        background: #333;
        color: white;
        font-size:x-small;
        position: fixed;
        bottom: 0;
        width: 100%; }

  /* Desktop Styles */

  @media only screen and (min-width: 1200px) {

    nav {
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        background: #1B1B1E;
        text-decoration-color: #D8DBE2;
      }

      #photo1 {
        width:10vw;
        height:20vh;
      }
    #photo2 {
        width:10vw;
        height:20vh;
    }
    
      #photo3 {
        width:10vw;
        height:20vh;
    

  }