nav {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: #1B1B1E;
    text-decoration-color: #D8DBE2;
    margin-bottom: 0.4em
  }
  nav a {
    color: #D8DBE2;
    text-decoration: none;
    text-align: center;
    padding: 1em 0;
  }
  nav a:hover {
    background:#333 ;
  }

  body {
    font-family: 'Arial', sans-serif;
    background-color: #373F51;
    margin: 1rem;
    color:#D8DBE2;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  section {
    padding: 2rem 2rem;
    margin: 2rem;
    border:dotted #d8dbe245;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  img {
    width: 50vw;
    height: 20vh;
  }

  @media only screen and (min-width: 450px) and (max-width: 999px) {
 img {
  width: 40vw;
  height: 25vh;
 }
 
 section {
  font-size: 2rem;
 }

  }

/* Desktop Styles */

@media only screen and (min-width: 1000px) {
  nav {
    display: flex;
    flex-direction: row;
  }
  img {
    height: 40vh;
    width: 30vw;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }
  div {
    padding: 2rem;
  }
  }