* {
    border: border-box;
    margin: 0;
    padding: 0;
}

h2, h3, h4 {
    display: flex;
    justify-content: center; ;
}


section a{
  color:#D8DBE2;
  display: flex;
  justify-content: center; 
  padding: 1rem;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #373F51;
    margin: 0;
    padding: 0;
    color:#D8DBE2
  }
  header {
    background: ##373F51;
    color: #D8DBE2;
    text-align: center;
    padding: 1em 0;
  }
header p {
    font-size:small
}

header a {
  color: #D8DBE2;
}

nav {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: #1B1B1E;
    text-decoration-color: #D8DBE2;
    margin-bottom: 0.4em
  }
  nav a {
    color: #D8DBE2;
    text-decoration: none;
    text-align: center;
    padding: 1em 0;
  }
  nav a:hover {
    background:#333 ;
    transform: scale(1.2)
  }

  footer {
    text-align:center;
    padding: 0.5em;
    background: #333;
    color: white;
    font-size:x-small;
    position: relative;
    bottom: 0;
    width: 100%;
  }

  li {
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 0.5em

  }

  h2 {
    display:flex;
    padding: 0.5em
  }

  section {
    padding: 2rem 1rem;
    margin: 2rem;
    border: white solid;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  #photo1 {
    width: 40vw ;
    height: 20vh;


  }

  #photo2 {
    width: 40vw;
    height: 20vh ;
  }

  #photo3 {
    width: 40vw;
    height: 15vh;
  }

  /*Tablet Styles */

  @media only screen and (min-width: 450px) and (max-width: 870px){
    
    section {
      font-size:larger;
    }

  }

  /* Desktop Styles */

  @media only screen and (min-width: 871px) {
    nav {
      display: flex;
      flex-direction: row;
    }

    section {
      font-size: large;
    }

    #photo1 {
      width: 40vw ;
      height: 40vh;
  
  
    }
  
    #photo2 {
      width: 40vw;
      height: 40vh ;
    }
  
    #photo3 {
      width: 40vw;
      height: 35vh;
    }


  }