* {
    border: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #373F51;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  section {
    justify-content: center; 
    display: flex;
    flex-direction: column;

  }

  header {
    background: ##373F51;
    color: #D8DBE2;
    text-align: center;
    padding: 1em 0;
  }
header p {
    font-size:small
}

  nav {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: #1B1B1E;
    text-decoration-color: #D8DBE2;
    margin-bottom: 0.4em
  }
  nav a {
    color: #D8DBE2;
    text-decoration: none;
    text-align: center;
    padding: 1em 0;
  }
  nav a:hover {
    background:#333 ;
  }

  h2 {
    color:#D8DBE2;
    justify-content: center;
    display: flex;
  }

  section {
    padding: 0.5em;
    display:flex;
    justify-content: center;
    color: #D8DBE2;
    text-align: center;
    align-items: center;
  

  }

section p a {
    color: #D8DBE2
}

  p a:hover {
    color:#D8DBE2;
    text-decoration: none;
  }

  



  footer {
    text-align:center;
    padding: 0.5em;
    background: #333;
    color: white;
    font-size:x-small;
    position: relative;
    width: 100%;
  }

  #photo {
    border-radius: 50%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }

  /*Tablet Styles */

  @media only screen and (min-width: 450px) and (max-width: 999px){
    #photo {
      width: 50%;
    }
    
  }

  /* Desktop Styles */

  @media only screen and (min-width: 1000px) {

    /* body {
      display: flex;
      flex-direction: row;
    } */

    nav {
      display: flex;
      flex-direction: row;
  
    }

section{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  flex-direction: row;
}

h2 {
  /* flex-direction: column; */
  /* margin-right: 20vw  */
  display: flex;
  justify-content: center;
  align-items: center;
  
}



    #photo {
      width: 40%;
      display: flex;
      margin: 2rem ;
      order: -1
  
    }

      footer {
        margin-top: 10rem
      }
  }